
	<h1></h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->

		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile banner">
				<h3>登录</h3>

				<div class="login-form">
					<% if flash[:login_error] %>
					  <p><%= flash[:login_error] %></p>
					<% end %>
					<%= form_for @user, :url=>{:action=>'create'} do |f| %>
					<%= f.text_field :email, :placeholder=> '邮箱' %>
					<%= f.password_field :password,:placeholder=> '密码' %>
					<%= f.submit '登录' %>
					<% end %>
				</div>

				<p><%= link_to "注册新用户",admin_sign_up_path %></p>
			</div>
		</div>

		<div class="clear"></div>
		<!--//signin-form-->
	</div>
	<style>
	body {
	    font-family: 'Jura', sans-serif;
	    background:#0a4981;
	}
	</style>
