<div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <% @posts.each do |post| %>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    <%= post.title %>
                </h2>
                <h3 class="post-subtitle">
                    <%= post.content %>
                </h3>
            </a>
            <p class="post-meta">作者 <a href="#"><%= post.author %></a> <%= post.published_at %></p>
            <br>
            <% post.categories.each do |category|%>
              <p class="post-meta"><%= category.name %></p>
            <% end %>
        <hr>
      <% end %>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-secondary float-right" href="#">更多&rarr;</a>
        </div>
    </div>
</div>
